/* navbar */
.nav-link{
    color: #757575;
    border-bottom: 3px solid transparent;
}
.nav-link:hover{
    color: black;
    /* text-decoration: underline; */
    border-color: black;
    transition: 0.5s;
}



.rioNavbar{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
}


/* body */
body{
    background-color: #F5F5F5;
}

.rioMyName{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 100px;
}