* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}


/* navbar */

.nav-link{
    border-bottom: 3px solid transparent;
}
.nav-link:hover{
    color: black;
    /* text-decoration: underline; */
    border-color: black;
    transition: 0.5s;
}
.rioNavbar{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.navbar-logo{
    width: 50px;
    height: auto;
    padding: 8px;
}

/* body */
body{
    background-color: #F5F5F5;

}
.rioMyName{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 100px;
}




/* footer */
.container{
    text-align: center;
}

#row-footer{
    text-align: center;
}

#footerButton{
    color: black;
}

.icon {
    color: grey;
}
.icon:hover{
    color: black;
    /* text-decoration: underline; */
    transition: 0.5s;
}
