* {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
*:before,
*:after {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}


/* navbar */

.nav-link{
    border-bottom: 3px solid transparent;
}
.nav-link:hover{
    color: black;
    /* text-decoration: underline; */
    border-color: black;
    transition: 0.5s;
}
#rioNavbar{
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

.navbar-logo{
    width: 3rem;
    height: auto;
    /* padding: 8px; */
}



/* Title and Tagline */
.tagLine{
    text-align: center;
}


#rioTagLine{
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}

#rioMyName{
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
}





/* body */
body{
    background-color: #F5F5F5;
    font-family: "Nunito", sans-serif;
}


/* post */
#post{
    background-color: #383737;
    color: #F5F5F5;
}

#projectPost{
    padding: 40px;
}





/* footer */
.container{
    text-align: center;
}

#row-footer{
    text-align: center;
}

#footerButton{
    color: black;
}

.icon {
    color: grey;
}
.icon:hover{
    color: black;
    /* text-decoration: underline; */
    transition: 0.5s;
}
